@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 100%;
  font-family: 'Numans', sans-serif;
  animation-name: gradient;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
min-height:100%;
background-repeat: no-repeat;
height: auto;
font-family: 'Numans', sans-serif;
}
.navbar_logo{
  width:68px;
}
@keyframes gradient{
  0% {background-position:0%}
  100% {background-position: 100%}
}
.icon-badge-group .icon-badge-container {
  display: inline-block;
  margin-left:15px;
}

.icon-badge-group .icon-badge-container:first-child { 
margin-left:0;
}

.icon-badge-container {
  margin-top:20px;
  position:relative;
}

.icon-badge-icon {
  font-size: 30px;
  position: relative;
}

.icon-badge {
  background-color: red;
  font-size: 12px;
  color: white;
  text-align: center;
  width:20px;
  height:20px;
  border-radius: 100%;
  position: absolute; /* changed */
  top: -5px; /* changed */
  left: 18px; /* changed */
}
.message_button {
  color: black;
  background-color: #FFC312;
  width:90%;
  height:86px;
  margin-bottom:15px;

}
.msg_button{
  background-color:#A4F596;
}
.fr_button{
  background-color:#7DB1E3;
}
.button_container{
  padding:0!important;
}

.button_icon {
  width:36px;
  height:auto;
}

.message_button:hover {
  color: black;
  background-color: white;
}
.post_topbar
{
  border:none;
}
.profile_pic{
  border-radius:50%; 
  border:5px; 
  border-color:white;
  border-style:solid;
  width:120px;
  margin:30px auto 60px auto;
    
}
.file_upload{
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
  width:62px;
}

.main_left{
  text-align:center;
}
.main{
  margin-top:3%;

}
.send_btn{
  color: black;
  background-color: #FFC312;
  
  height:86px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.send_btn img {
  width:36px;
  height:auto;
}

.send_btn:hover {
  color: black;
  background-color: white;
}
textarea{
  resize:none;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  height:86px;
  
}
.send_btn_left
{
  border-radius:.25rem;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.post_bar
{
  color:white;
  margin-bottom: 5%;
}
.small_profile_pic{
  width:64px;
  border-radius: 50%;
  margin-top:15px;
}
.smaller_profile_pic{
  width:48px;
  border-radius: 50%;
  margin-top:12px;
}
.pic_container{
  text-align:center;
}
ul li{
  display:inline;
  list-style: none;

}
.small_{
  padding:0;
}
.small_button{
  width:24px;
  margin:5px;
  
}
.status_image{
  text-align:right;
}
.username_post{
  color:#23a6d5;
}
.post{
  
  margin-bottom:32px;
}
.buttons ul{
  list-style:none;
  display:inline;
}
.button_icon_left{
  margin-top:16px;
}
.reaction_section{
  margin-top:10px;
}
.search_result_card
{
  width:18rem;
  text-align:center;
}
.main_input, .reaction_section
{
  padding:15px;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
